<form role="form" method="POST" action="{{ action_path }}" enctype="multipart/form-data">
    {% csrf_token %}

    
            {% comment %} Display Messages {% endcomment %}
            {% if messages %}
            <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            </div>
            {% endif %}

    <div class="card-body d-flex flex-wrap">
        
        {% comment %} Adding Form with All inputs Here {% endcomment %}

        <!-- Personal Details -->

        <div style=" width: 100%; display: flex; justify-content: start;">
            {% for field in form %}
        {% if forloop.counter > 0 and forloop.counter <= 2 %}
        <div class="form-group d-flex mr-4" >
            {{ field.errors }}
            <label class="mx-2">{{ field.label_tag }}</label>
            <div>{{ field }}</div>
        </div>
        {% endif %}    
        {% endfor %%}
        </div>

        <!-- Check-In Check-out -->

       <div style=" width: 100%; display: flex; justify-content: start;">
        {% for field in form %}
        {% if forloop.counter > 2 and forloop.counter <= 4 %}
        <div class="form-group d-flex mr-5" >
            {{ field.errors }}
            <label class="mx-2">{{ field.label_tag }}</label>
            <div>{{ field }}</div>
        </div>
        {% endif %}    
        {% endfor %%}
       </div>

       <div style=" width: 100%; display: flex; justify-content: start;">
        {% for field in form %}
        {% if forloop.counter > 4 and forloop.counter <= 6 %}
        <div class="form-group d-flex mr-5" >
            {{ field.errors }}
            <label class="mx-2">{{ field.label_tag }}</label>
            <div>{{ field }}</div>
        </div>
        {% endif %}    
        {% endfor %%}
       </div>

       <div style=" width: 100%; display: flex; justify-content: start">
        {% for field in form %}
        {% if forloop.counter > 6 and forloop.counter <= 10 %}
        <div class="d-flex" >
            {{ field.errors }}
            <label class="mx-2">{{ field.label_tag }}</label>
            <div>{{ field }}</div>
        </div>
        {% endif %}    
        {% endfor %%}
       </div>

       <div style=" width: 100%; display: flex; justify-content: start;">
        {% for field in form %}
        {% if forloop.counter > 10 and forloop.counter <= 13 %}
        <div class="form-group d-flex mr-5" >
            {{ field.errors }}
            <label class="mx-2">{{ field.label_tag }}</label>
            <div>{{ field }}</div>
        </div>
        {% endif %}    
        {% endfor %%}
       </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
    </div>
</form>