{% extends 'admin_templates/base.html' %} {% load static %} {% block title %}
Dashboard {% endblock title%} {% block main_content %}
<section class="content">
  <div class="container-fluid">
    <br />
    <div class="d-flex justify-content-between mb-2">
      <h1 class="col-7">Parking Availability</h1>
      <!-- <div class="d-flex col-2 mr-3 ">
        <input  class="col-10" type="text" name="filterdate" id="filterdate" placeholder="filterdate" />
        <button class="btn btn-primary ml-1" id="filter-btn">filter</button>
      </div> -->
      <button class="col-2 ml-1" onclick="exportParkingData()">
        <span class="glyphicon glyphicon-download"></span>
        Download list
      </button>
    </div>
    <table class="table table-bordered" id="parking-data">
      <thead>
        <th scope="col" class="align-middle">Name</th>
        <th scope="col" class="align-middle">Total Spaces</th>
        <th scope="col" class="align-middle">Available Spaces</th>
        <th scope="col" class="align-middle">Max Car Parking Capacity</th>
        <th scope="col" class="align-middle">Max Bike Parking Capacity</th>
        <th scope="col" class="align-middle">Car Spots Reserved</th>
        <th scope="col" class="align-middle">Bike Spots Reserved</th>
        <th scope="col" class="align-middle">Pre-Booking</th>
        
        <th scope="col" class="align-middle">Actions</th>
      </thead>
      <tbody>
        {% for parking in parking_options %}
        <tr>
          <td class="align-middle">{{parking.name}}</td>
          <td class="align-middle">{{parking.total}}</td>
          <td class="align-middle">{{parking.available}}</td>
          <td class="align-middle">{{parking.max_car}}</td>
          <td class="align-middle">{{parking.max_bike}}</td>
          <td class="align-middle">{{parking.car_spots_reserved}}</td>
          <td class="align-middle">{{parking.bike_spots_reserved}}</td>      
          <td class="align-middle">{{parking.prebooking}}</td>
          
          <td class="align-middle"> <a href="{% url 'edit_parking' parking.id %}" class="btn btn-success">Edit</a> <a href="{% url 'delete_parking' parking.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  
    <a href="{% url 'add_parking' %}"><div class="btn btn-primary">Add Parking</div></a>

  </div>
</section>

<script>
  // TO DOWNLOAD THE TABLE
  function exportParkingData() {
    var table = document.querySelector("#parking-data");

    var rows = [];
    for (var i = 0, row; (row = table.rows[i]); i++) {
      column1 = row.cells[0].innerHTML;
      column2 = row.cells[1].innerHTML;
      column3 = row.cells[2].innerHTML;
      column4 = row.cells[3].innerHTML;

      rows.push([column1, column2, column3, column4]);
    }
    csvContent = "data:text/csv;charset=utf-8,";

    rows.forEach(function (rowArray) {
      row = rowArray.join(",");
      csvContent += row + "\r\n";
    });

    var encodeUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodeUri);
    link.setAttribute("download", "Customer_Data_Report.csv");
    document.body.appendChild(link);
    link.click();
  }
</script>
<script type="text/javascript">
  $(function() {
      $('input[name="filterdate"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          locale:{
            format:"YYYY-MM-DD"
          }

      }); 
      
  });

  $("#filter-btn").click(function(){
    value = $("#filterdate").val()
    data = {
      'date':value,
      'csrfmiddlewaretoken':'{{csrf_token}}'
    }
    $.post("{% url 'parking' %}",data) 
    console.log(data)

  })
  </script>

{% endblock main_content %}
