{% load widget_tweaks %}
<section class="content overflow-hidden">
    <div class="container-fluid">
      <br />
      <div class="d-flex justify-content-between mb-3 flex-wrap">
        <h1 class="">Dashboard</h1>
        <button class="btn btn-primary px-5" onclick="exportData()">
          <span class="glyphicon glyphicon-download"></span>
          Download
        </button>
      </div>
      <div class="row">
        <div class="col">
          <div class="card card-body">
            <form action="" method="get">
              <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                  {{ reservation_filter.form.first_name.label_tag }}
                  {% render_field reservation_filter.form.first_name class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                  {{ reservation_filter.form.last_name.label_tag }}
                  {% render_field reservation_filter.form.last_name class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                  {{ reservation_filter.form.check_in.label_tag }}
                  {% render_field reservation_filter.form.check_in class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                  {{ reservation_filter.form.check_out.label_tag }}
                  {% render_field reservation_filter.form.check_out class="form-control" %}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                  {{ reservation_filter.form.car_parking.label_tag }}
                  {% render_field reservation_filter.form.car_parking class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                  {{ reservation_filter.form.is_checked_in.label_tag }}
                  {% render_field reservation_filter.form.is_checked_in class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                  {{ reservation_filter.form.is_checked_out.label_tag }}
                  {% render_field reservation_filter.form.is_checked_out class="form-control" %}
                </div>

              </div>
              <button class="btn btn-sm btn-danger" type="submit">Filter</button>
            </form>
          </div>
        </div>
       
      </div>
      <div class="table-responsive">
        <table class="table table-bordered" id="customer-data">
          <thead>
            <th scope="col" class="align-middle">SL.No</th>
            <th scope="col" class="align-middle">Name</th>
            <th scope="col" class="align-middle">Phone</th>
            <th scope="col" class="align-middle">Room No.</th>
            <th scope="col" class="align-middle col-2">Check-In Date</th>
            <th scope="col" class="align-middle col-2">Check-Out Date</th>
            <th scope="col" class="align-middle">Car Manufacturer</th>
            <th scope="col" class="align-middle">Car Model</th>
            <th scope="col" class="align-middle">Car Plates</th>
            <th scope="col" class="align-middle">Car color</th>
            <th scope="col" class="align-middle">Parking Name</th>
            <th scope="col" class="align-middle">Vehicle Type</th>
            <th scope="col" class="align-middle">Parking Booked</th>
            <th scope="col" class="align-middle col-4">Actions</th>
          </thead>
          <tbody>
            {% if reservation_filter.qs %}
            {% for reservation in reservation_filter.qs %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{reservation.first_name}} {{reservation.last_name}}</td>
              <td>{{reservation.phone_no}}</td>
              <td>{{reservation.room_no}}</td>
              <td>{{reservation.check_in | date:'DATETIME_FORMAT'}}</td>
              <td>{{reservation.check_out}}</td>
              <td>{{reservation.car_manufacturer}}</td>
              <td>{{reservation.car_model}}</td>
              <td>{{reservation.car_plates}}</td>
              <td>{{reservation.car_color}}</td>
              <td>{{reservation.car_parking}}</td>
              <td>{{reservation.vehicle_type}}</td>
              <td>{{reservation.parking_booking}}</td>
              <td>
                <a class="open-customer" data-popup-url="{% url 'customer_details' reservation.id %}">
                  <button type="button" class="btn btn-primary my-1">
                    <span class="fa fa-eye"></span>
                  </button>
                </a>
                <a href="{% url 'edit_entry' reservation.id %}" class="btn btn-success my-1">Edit</a>
                <a href="{% url 'delete_entry' reservation.id %}" class="btn btn-danger my-1">Delete</a>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
