{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
     

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
       

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

            <li class="nav-item">
              {% url 'admin_home' as admin_home %}
              <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
              </p>
              </a>
            </li>

            {% if perms.app_label.is_admin %} 
            <li class="nav-item">
              {% url 'add_staff' as add_staff %}
              <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>Add Staff</p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'manage_staff' as manage_staff %}
              <a href="{{ manage_staff }}" class="nav-link {% if request.path == manage_staff %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>Manage Staff</p>
              </a>
              
            </li>
            {% endif %}
            <li class="nav-item">
              {% url 'new_entry' as new_entry %}
              <a href="{{ new_entry }}" class="nav-link {% if request.path == new_entry %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>Create New Entry</p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'dashboard' as dashboard %}
              <a href="{{ dashboard }}" class="nav-link {% if request.path == dashboard %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>Dashboard</p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'parking' as parking %}
              <a href="{{ parking }}" class="nav-link {% if request.path == parking %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p> Parking </p>
              </a>
            </li>
            

            


          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>